{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load social_share %}
{% block content %}

    <br>

        <br>
        <br>
        <br>
    <br>

        <br>

<div class="card text-center">

    <div class="card-body">
  <br>
        <br>
          <br>
        <br>
        <h1 class="text-primary">Welcome To Polls</h1>


        <marquee><p>Polling App</p></marquee>
        <a class="btn btn-dark" href="{% url 'polls:index' %}">
            View Details</a>
    </div>
</div>
<br>
<br>
<div class="fb-comments" data-href="{{request_uri}}" data-width="" data-numposts="5"></div>
<br>
<br>

<style>
    body{

background-image: url("{% static 'images/polls.png' %}");
background-repeat: no-repeat, repeat;

 background-size: cover;
 background-position: center;
 height:100%;
 }
.fb-comments{
 background-color:white;
 }





</style>





{% endblock %}
<br>
<br>
<br>
{% include 'polls/footer.html' %}

